<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
            {% endblock  %} | Parking App
        </title>

        <!--Cargar hoja de estilo-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
    </head>
    <body>

        <header>
            <div id="logotipo">
                <!--Logo flask-->
                <img src="{{ url_for('static', filename='img/logo.png') }}" />
                <h1>Parking APP</h1>
            </div>
        </header>

        <nav>

            <ul>
                <li>
                    <a class="layout2" href="{{ url_for('asignar_esta')}}">Asigna Estacionamiento</a>
                </li>
                <li>
                    <a class="layout2" href="{{ url_for('mi_perfil')}}">Mi Perfil</a>
                </li>
            
                <li>
                    <a class="layout2" href="{{ url_for('adm_esta')}}">Estacionamientos</a>
                </li>
                
                <li>
                    <a class="layout2" href="{{ url_for('cerrar_sesion')}}">cerrar sesion</a>
                </li>
            
        </nav>

        <div class="barra">
            <span class="esquina-izquierda"></span>
            <span class="relleno-barra"></span>
            <span class="esquina-derecha"></span>
        </div>

        <div id="content">

        <div class="box">
            {% block content %}
                <!--Codigo que viene de los TEMPLATES-->
                
            {% endblock %}
        </div>

        <!--Pie de pagina-->
        <footer>
            PARKING APP &copy; | DICORD - {{now.month}} / {{now.year}}
        </footer>
        
    </body>
</html>