{% extends 'layout.html' %}

{% block title %}
    Quienes Somos
{% endblock title %}

{% block content %}
    <div id="quienes_somos">

            <p>
                <h1>
                    ¿Quienes somos?
                </h1>
                <h3>
                    ParkingPP es una plataforma on-line que ha sido creada para asistir a quienes estén buscando 
                    un lugar donde estacionar su auto, también a aquellos que quieran poner en arriendo el suyo y esos
                    tener mas control en los estacionamientos de visita. Funciona a través de un mapa inteligente en el 
                    que se refleja toda la información actualizada sobre disponibilidad de estacionamientos. Los usuarios 
                    que posean un estacionamiento que quieran poner en arriendo podrán, de forma gratuita, publicarlo en 
                    el mapa de PArkingAPP.cl.
                    En esta página toda la información está abierta a nuestros usuarios de forma gratuita. Te dejamos 
                    a ti la labor de contactar al dueño y cerrar el contrato de arriendo.
                    Si tienes un estacionamiento que no usas y lo quieres poner en arriendo para ganar unos pesos extra, 
                    lo puedes publicar de forma gratuita en el mapa de Estacionate.cl. Una vez publicado, solo tienes 
                    que esperar a que te contacte tu futuro arrendatario.
                    Por último, nos gustaría que supieran que hemos creado la página pensando en ustedes,  nuestros 
                    usuarios, haciendo que su uso sea lo más fácil e intuitivo posible y sea una herramienta útil.
                </h3>
                <br/>
                <h1>
                    ¿Por qué ParkingPP?
                </h1>
                <h3>
                    Como personas que vivimos en condominios sabemos lo tedioso que puede ser
                    alquilar un puesto de estacionamiento, colocar tu puesto en arriendo o 
                    llegar como visitante.
                    Es por esto que decidimos hacer un sistema facil y amigable con el cliente.
                    No queremos que sufras mas ni compliques mas, por eso ParkingApp es tu mejor opción.
                </h3>
            </p>

        </div>
{% endblock  %}