{% extends 'layout.html' %}

{% block title %}
    Registrate
{% endblock title %}

{% block content %}
    <h1>Registrate</h1>
    <br/>
    {{error}}
    <br/>
    <br/>
    <form action="" method="POST">

        <label for="nombre">Nombre</label>
        <input type="text"  name="nombre" />

        <label for="apellidos">Apellidos</label>
        <input type="text"  name="apellidos" />

        <label for="email">Email</label>
        <input type="email" id="email" name="email" />

        <label for="password">Contraseña</label>
        <input type="password" id="password" name="password" />

        <label for="telefono">Teléfono</label>
        <input type="text" id="telefono" name="telefono" />

        <label for="perfiles">Selecciona tu perfil</label>
        <select name="perfil" id="perfil">
            <option value="-1">Seleccione</option>
            <option value="1">Administrador</option>
            <option value="2">Dueño</option>
            <option value="3">Visita</option>
        </select>

        <br/>
        <br/>

        <input type="submit" value="Registrate" name="registrate" /> 
    

    </form> 
{% endblock %}