{% extends 'layout.html' %}

{% block title %}
    Soy Administrador
{% endblock title %}

{% block content %}
    <div id="administrador">

            <p>
                <h1>
                    ¿Qué significa ser Administrador?
                </h1>
                <br/>
                <h3>
                    Esta parte esta guiada a ser utilizada unicamente por la 
                    administracion del edificio y los conserjes. <br/>
                    Nuestra aplicacion esta basada no solo para que las personas
                    que viven en el edificio puedan arrendar o alquilar su puesto,
                    tambien esta hecha para ayudar a la administracion a tener mas 
                    control en los puestos disponibles que hay, poder asignar mejor 
                    los puestos de visita en la cual ayudara al conserje ya que si
                    pasa el tiempo reglamentario la aplicacion le avisaria y a medida
                    que corra el tiempo la aplicación sacara cuenta de cuanto es la
                    multa a cursar al apartamento debido.
                </h3>
                <br/>
            </p>

    </div>
{% endblock %}