{% extends 'layout.html' %}

{% block title %}
    Soy Dueño
{% endblock title %}

{% block content %}
    <div id="dueño">

            <p>
                <h1>
                    ¿Qué significa ser Dueño?
                </h1>
                <br/>
                <h3>
                    ¿Estas interesado en arrendar tu puesto de estacionamiento? <br/>
                    Entonces cuanto ingreses tu datos indica que eres dueño de un puesto
                    de estacionamiento y en la aplicacion te saldra tu puesto disponible 
                    para que los que esten buscando puesto puedan contactarte contigo. <br/>
                    Lo facinante de esto es que la aplicacion una vez ya arrendado el puesto
                    te avisara a ti y al "arrendatario" los dias exactos de pago y si este se 
                    incumple automaticamente tu puesto sera visible para que otras personas 
                    que deseen arrendar lo vean.
                </h3>
                <br/>
            </p>

    </div>
{% endblock %}